apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metricsserver
  namespace: argocd
spec:
  project: default
  source:
    - repoURL: 'https://kubernetes-sigs.github.io/metrics-server/'
      chart: metrics-server
      targetRevision: 3.8.2
      helm:
        valuesFiles:
          - $values/values/metrics-server/values.yaml
    - repoURL: 'https://github.com/carlosrovaris/argocd-apps/'
      targetRevision: HEAD
      ref: values
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: kube-system
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
