apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: teste1
  namespace: argocd
spec:
  destination:
    namespace: teste1
    server: "https://kubernetes.default.svc"
  project: default
  sources:
    - chart: prometheus
      repoURL: https://kubernetes-sigs.github.io/metrics-server/
      targetRevision: 3.11.0
      helm:
        valueFiles:
          - $values/metrics-server/values.yaml
    - repoURL: https://github.com/carlosrovaris/argocd-apps/
      targetRevision: main
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true