apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metrics-server
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: "https://kubernetes.default.svc"
  project: default
  sources:
    - chart: prometheus
      repoURL: https://kubernetes-sigs.github.io/metrics-server/
      targetRevision: 3.11.0
      helm:
        values: |
          apiService.create: true
          replicas: 1
          extraArgs: {"kubelet-insecure-tls","kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname"}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true