apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default
  destination:
    namespace: cert-manager
    server: "https://kubernetes.default.svc"
  sources:
    - chart: cert-manager
      repoURL: https://charts.jetstack.io
      targetRevision: 1.13.2
      helm:
        parameters:
          - name: installCRDs
            value: "true"
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true