apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    chart: prometheus-community
    repoURL: 'https://prometheus-community.github.io/helm-charts'
    targetRevision: 54.1.0
    #   helm:
    #     valueFiles:
    #       - $values/values/prometheus/values.yaml
    # - repoURL: https://github.com/carlosrovaris/argocd-apps/
    #   targetRevision: HEAD
    #   ref: values
  destination:
    namespace: monitoring
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
