apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webserver3
  namespace: argocd
spec:
project: default
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: webserver-ui
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  sources:
    - repoURL: 'https://charts.bitnami.com/bitnami'
      targetRevision: 15.4.2
      helm:
        valueFiles:
          - $values/values/webserver3/values.yaml
      chart: nginx
    - repoURL: 'https://github.com/carlosrovaris/argocd-apps/'
      targetRevision: main
      ref: values
