apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webserver2
  namespace: argocd
spec:
  destination:
    namespace: webserver2
    server: "https://kubernetes.default.svc"
  project: default
  sources:
    - chart: nginx
      repoURL: https://charts.bitnami.com/bitnami
      targetRevision: 15.4.2
      helm:
        valueFiles:
          - $values/webserver2/values.yaml
    - repoURL: https://github.com/carlosrovaris/argocd-apps/
      targetRevision: main
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
