apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webserver
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/carlosrovaris/argocd-apps/'
    path: helmcharts/webserver
    targetRevision: HEAD
    helm:
      valueFiles:
        - values.yaml
  destination:
    namespace: webserver
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
